
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Kapakana:wght@300..400&family=Sen:wght@400..800&display=swap');

body {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;

    background-color: #f3f3f3;

    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        padding: 40px 0;
        width: 100%;
    }
}

p {

    margin: 0;

    line-height: 1.5; 
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


h1 {

    margin: 0;
    text-align: center;

    line-height: 1.5;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {

    margin: 0;
    text-align: center;

    line-height: 1.5;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h3 {

    margin: 0;
    text-align: center;

    line-height: 1.5;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Bolden {

    font-weight: 700;
}

.Wavy {

    font-style: italic;
}

.line {

    text-decoration: underline;

}

.hyperlink {

    text-decoration: underline;

    cursor: pointer;

    font-weight: 700;
    

    &:hover {

        font-weight: 800;
        
        
    }

    &:active {

        font-weight: 700;
        
        
    }

}


.vh {

    height: 100vh;
}

a {

    font-weight: 500;
    color: black;

    text-decoration: underline .1px #00000000;
    transition: text-decoration-color 300ms;

    
    
    &:hover {

        text-decoration: underline 2px #0000008f;
        
        
        
    }

    &:active {

        font-weight: 700;
        transition-duration: .2s;
    }
}

.columnFlex {

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.rowFlex {

    display: flex;
    flex-direction: row;
    
    justify-content: center;
}

.columnFlexReverse {

    display: flex;
    flex-direction: column-reverse;
    
    align-items: center;
}

.rowFlexReverse {

    display: flex;
    flex-direction: row-reverse;
    
    justify-content: center;
}

.flexWrap {

    flex-wrap: wrap;
}

.justifyContent {

    justify-content: center;
}

.alignContents {

    align-items:center;
}

.borderBox {

    box-sizing: border-box;
}

.paddingWidth20 {

    padding: 0 20px;
}

.gap4 {

    gap:4px
}

.gap12 {

    gap:12px
}

.gap20 {

    gap: 20px;
}

.gap40 {

    gap: 40px;
}

.gap60 {

    gap: 60px;
}




.navbar {

    background-color: #23262E;
    color: #ffffff;

    padding: 12px;
    position: sticky;
    top: 0px;

    border-bottom: solid 1px #020202;

    box-sizing: border-box;
    box-shadow: 0px 2px 5px #0f0f0f;

    width: 100%;

    z-index: 100;

    

    ul {

        margin: 0;
        padding: 20px;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        gap: 20px;

        list-style: none;

        li {

            a {

                color: #ffffff;
            }
        }
        
    }
}

button {

    padding: 8px 12px;
    

    

    cursor: pointer;

    

    border-radius: 4px;

    box-shadow: 0px 0px 5px rgb(202, 202, 202);
    transition: .2s;

    
}

.primary {

        
    background-color: #1b2125;
    color: #f2f4f7;
    border: solid 1px #a8a8a8;

    &:hover {

    
    

        background-color: #888892;
        color: #f2f4f7;
        transition: .2s;
    }

    &:active {

        scale: .95;
        background-color: #1b2125;
        color: #f2f4f7;
        transition: .2s;
    }

}

.secondary {

    background-color: #e0e2e4;
    color: #141618;
    border: solid 1px #a8a8a8;
    

    &:hover {

    
        background-color: #a5adb3;
        color: #141618;

        transition: .2s;
    }

    &:active {

        scale: .95;
        background-color: #898f96;
        color: #161616;
        transition: .2s;
    }

}

footer {

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 40px;

    box-sizing: border-box;
    width: 100%;

    padding: 20px 100px;

    background-color: #23262E;
    color: #ffffff;

    h2 {

        text-align: center;
    }

    ul {

        list-style: none;
        
        li {
        
            color: #ffffff;
            width: fit-content;
            padding: 4px 20px;

            a {
                width: fit-content;
                color: #ffffff;
            }
        }

    }
    

    

}

.formStyling {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 80%;
    max-width: 800px;
    background-color: #d1d1d14d;
    padding: 20px;

    border-radius: 12px;
    border: solid 1px #d4d4d4;

    box-shadow: 0px 0px 5px rgb(202, 202, 202);

    button {

        cursor: pointer;
    }

    p {

        text-align: left;
    }


    label {

        font-size: 16px;
        font-weight: 600;
    }

    input {

        

        &[type="submit"] {

            width: min-content;

            cursor: auto;

        
            &:disabled {

                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        &[type="text"] {

            width: 260px;

            cursor: auto;
        }

        &[type="radio"] {

            width: 12px;

            cursor: pointer;
        }

        &[type="checkbox"] {

            width: 12px;

            cursor: pointer;
        }



        font-size: 14px;
        padding: 8px 12px;

        border: none;
        border-bottom: solid 1px black;

        background-color: #dddddd;

        
        &:hover {

            background-color: #b4b4b4;
        }

        &:focus {

            border-bottom: solid 1px black;
            background-color: #ffffff;
            outline: none;
            box-shadow: none;
        }

    }

    textarea {

        min-height: 200px;
        font-size: 14px;
        padding: 8px 12px;

        border: none;
        border-bottom: solid 1px black;

        background-color: #dddddd;

        &:focus {

            border-bottom: solid 1px black;
            background-color: #ffffff;
            outline: none;
            box-shadow: none;
        }
    }


    .textInput {

        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 4px;

        .inputWButton {

            display: flex; 
            flex-direction: row;
            gap: 12px;

            padding: 12px 0 0 0;

        }

        .labelCustom {

            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 0 0 12px 0;
        }
    }

    .radioCheckboxInput {

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    .radioField {

        width: 20px;
    }

    .tagContents {

        position: relative;

        min-height: 40px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px 12px;

        gap: 4px;

        background-color: #dddddd;

        clip-path: border-box;
        

            .tagBoxText {

                position: absolute;

                transition-duration: .4s;
                bottom: -20px;
            }

        &:hover {

            background-color: #ffffff;

            .tagBoxText {

                bottom: 18px;
                transition-duration: .4s;

                

            }
        }

        .tag {

            
            white-space: nowrap;

            width: min-content;
            padding: 4px 8px;

            border: #7a7a7a solid 1px;
            border-radius: 4px;
            background-color: #d8d8d8;

            display: flex;
            flex-direction: row;
            gap: 4px;
            align-items: center;

            &:hover {

                scale: 102%;
                background-color: rgb(255, 255, 255);
                
                font-weight: 500;

                
            }
        }

        button {

            border: none;
            background-color: rgba(255, 255, 255, 0);

            

            &:hover {

                scale: 120%;
                font-weight: 600;
                border-radius: 1000px;

                
            }
        }
    }
    

}

.HeroHeading {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 12px;

    h1 {

        text-align: center;
    }

    p {

        text-align: center;
    }
}

.marginBox {

    box-sizing: border-box;
    margin: 0 20px;

}


.underline {

    padding-bottom: 8px;
    border-bottom: solid 1px #161616 ;
    width: 160px;
    
}

.bgHeading {

    
    padding: 40px 80px;

    max-width: 800px;

    width: 80%;
    
    /*
    background-color: #000000af;
    border: solid 1px black;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);

    text-shadow: 2px 2px #020202;
    */

    
    color: #ffffff;
}

.paragraphText {

    max-width: 600px;
    width: 80%
}

img {

    border-radius: 8px;
}

.accomCard {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
    
    max-width: 400px;
    min-width: 320px;
    width: 80%;
    background-color: #ffffff;

    border: 1px solid #dfdfdf;
    border-radius: 12px; 
    overflow: hidden;

    box-shadow: 0 0 5px 1px #cacaca;

    translate: 0px 0px;
    transition-duration: .1s;

    &:hover {

        translate: 0px -12px;
        transition-duration: .2s;

        img {

            opacity: .4;
            transition-duration: .2s;
        }
    }
}

.accommodationCatalogue {

    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    box-sizing: border-box;

    gap: 60px;
    width: 100%;

    

    
}