@import url("https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Kapakana:wght@300..400&family=Sen:wght@400..800&display=swap");
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body section {
  padding: 40px 0;
  width: 100%;
}

p {
  margin: 0;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h2 {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h3 {
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.Bolden {
  font-weight: 700;
}

.Wavy {
  font-style: italic;
}

.line {
  text-decoration: underline;
}

.hyperlink {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.hyperlink:hover {
  font-weight: 800;
}
.hyperlink:active {
  font-weight: 700;
}

.vh {
  height: auto;
  padding: 100px 0;
}

a {
  font-weight: 500;
  color: black;
  -webkit-text-decoration: underline 0.1px rgba(0, 0, 0, 0);
          text-decoration: underline 0.1px rgba(0, 0, 0, 0);
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
}
a:hover {
  -webkit-text-decoration: underline 2px rgba(0, 0, 0, 0.5607843137);
          text-decoration: underline 2px rgba(0, 0, 0, 0.5607843137);
}
a:active {
  font-weight: 700;
  transition-duration: 0.2s;
}

.columnFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columnFlexReverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.rowFlexReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyContent {
  justify-content: center;
}

.alignContents {
  align-items: center;
}

.borderBox {
  box-sizing: border-box;
}

.paddingWidth20 {
  padding: 0 20px;
}

.gap4 {
  gap: 4px;
}

.gap12 {
  gap: 12px;
}

.gap20 {
  gap: 20px;
}

.gap40 {
  gap: 40px;
}

.gap60 {
  gap: 60px;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar {
  background-color: #23262E;
  color: #ffffff;
  padding: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-bottom: solid 1px #020202;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px #0f0f0f;
  width: 100%;
  z-index: 100;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 460px) {
  .navbar .links {
    display: none;
  }
  .navbar .icon {
    display: block;
    margin-left: auto;
  }
  .navbar .icon:active {
    background-color: #ffffff;
    color: #1b2125;
    padding: 0;
    border-radius: 100px;
  }
  .navbar .topNav.responsive ul {
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s ease;
  }
  .navbar .topNav.responsive .links {
    display: block;
    margin-left: auto;
  }
}
.navbar ul {
  transition-duration: 0.2s ease;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.navbar ul li a {
  color: #ffffff;
}
.navbar ul li a:active {
  background-color: #ffffff;
  color: #141618;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(202, 202, 202);
  transition: 0.2s;
}

.primary {
  background-color: #1b2125;
  color: #f2f4f7;
  border: solid 1px #a8a8a8;
}
.primary:hover {
  background-color: #888892;
  color: #f2f4f7;
  transition: 0.2s;
}
.primary:active {
  scale: 0.95;
  background-color: #1b2125;
  color: #f2f4f7;
  transition: 0.2s;
}

.secondary {
  background-color: #e0e2e4;
  color: #141618;
  border: solid 1px #a8a8a8;
}
.secondary:hover {
  background-color: #a5adb3;
  color: #141618;
  transition: 0.2s;
}
.secondary:active {
  scale: 0.95;
  background-color: #898f96;
  color: #161616;
  transition: 0.2s;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 100px;
  background-color: #23262E;
  color: #ffffff;
}
footer h2 {
  text-align: center;
}
footer ul {
  list-style: none;
}
footer ul li {
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 20px;
}
footer ul li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
}

.formStyling {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  max-width: 800px;
  background-color: rgba(209, 209, 209, 0.3019607843);
  padding: 20px;
  border-radius: 12px;
  border: solid 1px #d4d4d4;
  box-shadow: 0px 0px 5px rgb(202, 202, 202);
}
form button {
  cursor: pointer;
}
form p {
  text-align: left;
}
form label {
  font-size: 16px;
  font-weight: 600;
}
form input {
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-bottom: solid 1px black;
  background-color: #dddddd;
}
form input[type=submit] {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  cursor: auto;
}
form input[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
form input[type=text] {
  width: 260px;
  cursor: auto;
}
form input[type=radio] {
  width: 12px;
  cursor: pointer;
}
form input[type=checkbox] {
  width: 12px;
  cursor: pointer;
}
form input:hover {
  background-color: #b4b4b4;
}
form input:focus {
  border-bottom: solid 1px black;
  background-color: #ffffff;
  outline: none;
  box-shadow: none;
}
form textarea {
  min-height: 200px;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-bottom: solid 1px black;
  background-color: #dddddd;
}
form textarea:focus {
  border-bottom: solid 1px black;
  background-color: #ffffff;
  outline: none;
  box-shadow: none;
}
form .textInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
form .textInput .inputWButton {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px 0 0 0;
}
form .textInput .labelCustom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 0 12px 0;
}
form .radioCheckboxInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
form .radioField {
  width: 20px;
}
form .tagContents {
  position: relative;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 12px;
  gap: 4px;
  background-color: #dddddd;
  -webkit-clip-path: border-box;
          clip-path: border-box;
}
form .tagContents .tagBoxText {
  position: absolute;
  transition-duration: 0.4s;
  bottom: -20px;
}
form .tagContents:hover {
  background-color: #ffffff;
}
form .tagContents:hover .tagBoxText {
  bottom: 18px;
  transition-duration: 0.4s;
}
form .tagContents .tag {
  white-space: nowrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 4px 8px;
  border: #7a7a7a solid 1px;
  border-radius: 4px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
form .tagContents .tag:hover {
  scale: 102%;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
}
form .tagContents button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
form .tagContents button:hover {
  scale: 120%;
  font-weight: 600;
  border-radius: 1000px;
}

.HeroHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.HeroHeading h1 {
  text-align: center;
}
.HeroHeading p {
  text-align: center;
}

.marginBox {
  box-sizing: border-box;
  margin: 0 20px;
}

.underline {
  padding-bottom: 8px;
  border-bottom: solid 1px #161616;
  width: 160px;
}

.bgHeading {
  padding: 40px 80px;
  max-width: 800px;
  width: 80%;
  /*
  background-color: #000000af;
  border: solid 1px black;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgb(202, 202, 202);

  text-shadow: 2px 2px #020202;
  */
  color: #ffffff;
}

.paragraphText {
  max-width: 600px;
  width: 80%;
}

img {
  border-radius: 8px;
}

.accomCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 400px;
  min-width: 320px;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 5px 1px #cacaca;
  translate: 0px 0px;
  transition-duration: 0.1s;
}
.accomCard:hover {
  translate: 0px -12px;
  transition-duration: 0.2s;
}
.accomCard:hover img {
  opacity: 0.4;
  transition-duration: 0.2s;
}

.accommodationCatalogue {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 60px;
  width: 100%;
}
/*# sourceMappingURL=Styling.css.map */